# 1-50번 과제

In [5]:
#1
print('Hello World')

Hello World

In [6]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [9]:
#4
print('C:\\Windows')

C:\Windows

In [10]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

위 문제설명: \n 은 줄바꿈이고 \t 는 띄어쓰기 같아요

In [11]:
#6
print("오늘은", "일요일")

오늘은 일요일

In [12]:
#7
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [22]:
#8
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [23]:
#9
print("first");print("second")

first
second

In [24]:
print("first", end=""); print("second")

firstsecond

In [25]:
#10
print(5/3)

1.6666666666666667

In [15]:
#11
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [26]:
#12
시가총액=298000000000000
현재가=50000
PER=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [13]:
#13
s = "hello"
t = "python"
print(s)
print(t)

hello
python

In [14]:
print(s+"!",t)

hello! python

In [17]:
#14
print(2 + 2 * 3)

8

In [18]:
#15
a = 128
print (type(a))

<class 'int'>

In [19]:
a = "132"
print (type(a))

<class 'str'>

16번 다시

In [27]:
#16
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [20]:
#17
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [28]:
#18
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [30]:
#19
year = "2020"
year= int(year)
print(year)

2020

In [31]:
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [21]:
#20
총금액=48584*36
print(총금액)

1749024

In [34]:
#21
letters = 'python'
print(letters)
print(letters[0], letters[2])

python
p t

In [38]:
#22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

23번 다시

In [41]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [45]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [47]:
#25
phone_number = "010-1111-2222"
phone_number.replace('-',' ')

'010 1111 2222'

In [48]:
#26
phone_number = "010-1111-2222"
phone_number.replace('-','')

'01011112222'

27번 다시

In [55]:
#27
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split[-1])

kr

28번 다시 /대문자를 소문자로 변경 못한다는 말인가?

In [56]:
#28
 lang = 'python'
 lang[0] = 'P'
 print(lang)

IndentationError: unexpected indent (118718031.py, line 2)

In [57]:
#29
string = 'abcdfe2a354a32a'
string.replace('a','A')

'Abcdfe2A354A32A'

30번 다시 /안되는건 알겠는데 답안 설명은 이해 못함

In [59]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [61]:
#31
a = "3"
b = "4"
print(a + b)

34

In [63]:
#32
print("Hi" * 3)

HiHiHi

In [65]:
#33
print('-'*80)

--------------------------------------------------------------------------------

In [66]:
#34
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

35번 '%s'는 문자열 데이터 타입의 값, '%d'는 정수형 데이터 타입 값을 의미함

In [67]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [68]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [69]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [70]:
#38
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

39번 [:6] 이거 아닌가 왜 7일까

In [72]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [73]:
#40
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [74]:
#41
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [78]:
#42
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [82]:
#43
a = "hello"
a = a.capitalize()
print(a)

Hello

In [83]:
#44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [84]:
#45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [85]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [86]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [87]:
#48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [88]:
#49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [91]:
#50
data = "039490     "
data=data.rstrip()
print(data)

039490

20240904과제 끝!

# 51-100번 과제

In [3]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [5]:
#52
movie_rank = ["닥터 스트레인지", "스플릿", "럭키","배트맨"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [7]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [8]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [9]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [21]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [24]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs= lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [25]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [27]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [28]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [31]:
#60
nums = [1, 2, 3, 4, 5]
더하기=(sum(nums))/5
print(더하기)

3.0

In [34]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [35]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [42]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

64번 모르겠다

In [45]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [51]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [58]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [59]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [62]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [65]:
#69
string = "삼성전자/LG전자/Naver"
interest=string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [70]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [71]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [72]:
#72
movie_rank=('닥터 스트레인지','스플릿','럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [74]:
#73
tuple=(1,)
print(type(tuple))

<class 'tuple'>

In [75]:
#74
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax (987351756.py, line 2)

에러 이유를 설명하세요: 튜플은 변경 할 수 없어용

In [76]:
#75
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [ ]:
#76
t = ('a', 'b', 'c')

튜플 값은 변경이 안된당 하고싶으면 삭제하고 새로운 튜플을 만들어야한다. 근데 왜 이전꺼가 자동삭제 되는지는 모르겠넹

In [77]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest변환=list(interest)
print(interest변환)

['삼성전자', 'LG전자', 'SK Hynix']

78번 모르겠다

In [81]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(data))

TypeError: 'tuple' object is not callable

In [82]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

80-83번은 안배웠고? 지금 너무 졸려서 나중에 해보겠음

In [ ]:
#80
(2, 4, 6, 8 ... 98)

In [ ]:
#81

In [ ]:
#82

In [ ]:
#83

In [83]:
#84
temp = { }
print(type(temp))

<class 'dict'>

In [84]:
#85
아이스크림= {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [86]:
#86
아이스크림= {'메로나':1000,'폴라포':1200,'빵빠레':1800}
아이스크림['죠스바']=1200
아이스크림['월드콘']=1500
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [90]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나가격:',ice['메로나'])

메로나가격: 1000

In [97]:
#88
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [98]:
#89
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

에러설명: 누가바는 없는 key 라서 에러났다

In [99]:
#91
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [101]:
#92
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0])

300

In [103]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [105]:
#94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘']=[500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [107]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()
ice=list(icecream)
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [108]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice=list(icecream.values())
print(ice)

[1200, 1200, 1800, 1500, 1000]

In [115]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [118]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

99-100번 zip을 배웠나.. 기억안남 안배운듯 나중에 찾아보겠다 너무 졸리다

In [119]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
#100

20240905과제 끝!

# 101-160번 과제

In [ ]:
#101
bool 입니다.

In [ ]:
#102
False

In [ ]:
#103
True

In [ ]:
#104
True

In [ ]:
#105
True

In [ ]:
#106
존재하지 않는 연산자라 에러가 납니다.

In [ ]:
#107
조건을 만족하지 않기 때문에 출력불가함

In [ ]:
#108
하이데얼

In [ ]:
#109
1
2
4

In [ ]:
#110
3, 5

111번 '안녕하삼'으로 작성했는데 왜 '안녕하세요'로 출력될까

In [6]:
#111
user: input("입력: ")
print(user*2)

입력:  안녕하삼

안녕하세요안녕하세요

In [16]:
#112
user= input("숫자입력: ")
print(int(user)+10)

숫자입력:  30

40

In [22]:
#113
user=input("입력:")

if int(user)%2==0 :
    print("짝수")
else:
    print("홀수")

입력: 10

짝수

In [31]:
#114
user= input("숫자입력: ")
num=(int(user)+20)
if num>255:
    print(255)

else:
    print(num)

숫자입력:  300

255

In [37]:
#115
user= input("숫자입력: ")
num=(int(user)-20)
if num <0:
    print(0)
elif num>255:
    print(255)
else:
    print(num)

숫자입력:  200

180

In [40]:
#116
user=input("시간:")

if user[-2:]=="00" :
    print("정각")
else:
    print("정각 아닙니다")

시간: 1:00

정각

In [42]:
#117
user=input("과일:")
fruit = ["사과", "포도", "홍시"]

if user in fruit:
    print("정답")
else:
    print("오답")

과일: 망고

오답

In [43]:
#118
user=input("종목:")
list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

if user in list:
    print("경고")
else:
    print("안전")

종목: daum

안전

In [49]:
#119
user=input("계절:")
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

if user in fruit :
    print("정답")

else:
    print("오답")

계절: 가을

정답

In [51]:
#120
user=input("과일:")
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

if user in fruit.values() :
    print("정답")

else:
    print("오답")

과일: 딸기

정답

In [1]:
#121
user=input("뭘까요:")

if user.islower() :
    print(user.upper())
else:
    print(user.lower())

뭘까요: a

A

In [4]:
#122
user=input("점수:")
스코어=int(user)
if 81<= 스코어 <=100 : 
    print("a")
elif 61<=스코어<= 80:
    print("b")
elif 41<=스코어<= 60:
    print("c")
elif 21<=스코어 <=40:
    print("d")
else:
    print("e")

점수: 100

a

123번 모르겠어용

In [14]:
#123
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split("")
print(float(num) * 환율[currency], "원")

입력:  100

ValueError: empty separator

In [15]:
#124
user1=input("점수:")
user2=input("점수:")
user3=input("점수:")
user1=int(user1)
user2=int(user2)
user3=int(user3)

if user1 >=user2 and user1>= user3:
    print(user1)
elif user2>= user1 and user2>= user3:
    print(user2)
else:
    print(user3)

점수: 2
점수: 3
점수: 5

5

In [17]:
#125
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  011

당신은 SKT 사용자입니다.

In [19]:
#126
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [21]:
#127
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  821010-1234567

남자

In [22]:
#128
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  821010-1234567

서울이 아닙니다.

In [23]:
#129
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)

if num[-1] == 계산2:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  821010-1234567

유효하지 않은 주민등록번호입니다.

130번 모르겠어요

In [27]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [28]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

132번 무슨말인지 모르겠다

In [ ]:
#132

In [29]:
#133
print("A")
print("B")
print("C")

A
B
C

In [30]:
#134
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [31]:
#135
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [32]:
#136
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [33]:
#137
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [34]:
#138
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [35]:
#139
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [36]:
#140
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [38]:
#141
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [41]:
#142
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [43]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목 in 리스트:
    갯수=len(종목)
    print(갯수)

6
4
4

In [45]:
#144
리스트 = ['dog', 'cat', 'parrot']

for 동물 in 리스트:
    갯수=len(동물)
    print(동물, 갯수)

dog 3
cat 3
parrot 6

In [47]:
#145
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [48]:
#146
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [49]:
#147
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [53]:
#148
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:] :
    print(변수)

나
다
라

149번,150번 슬라이싱 잘 모르겠다

In [ ]:
#149

In [ ]:
#150

In [55]:
#151
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [56]:
#152
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [57]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [58]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [59]:
#155
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [60]:
#156
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

In [64]:
#157
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    첫글자=변수[0]
    대문자=첫글자.upper()
    print(대문자+변수[1:])

Dog
Cat
Parrot

In [65]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  파일명 = 변수.split(".")
  print(파일명[0])

hello
ex01
intro

In [66]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [67]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h

20240906 과제 끝

# 161-200번 과제

In [1]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
#162
for a in range(2002,2051,4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [3]:
#163
for num in range(3,31,3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [4]:
#164
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [5]:
#165
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [6]:
#166
for i in range(1, 10) :
    print (3, "x", i, " = ", 3 * i)

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

In [7]:
#167
num = 3
for i in range(1, 10) :
    if i % 2 == 1 :
        print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

168번 hab은 어떤 이유로 덧셈 누적이 가능한것일까

In [8]:
#168
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [9]:
#169
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [10]:
#170
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [11]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

172번,173번 모르겠다

In [4]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(0, 4) :
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [6]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(0, 4) :
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [13]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [14]:
#175
my_list = ["가", "나", "다", "라"]
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [15]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

177-179번 어렵다악

In [7]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

In [12]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [15]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in [1, 2, 3, 4]:
    print((my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [19]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

valatility=[]

for i in range(len(low_prices)):
    valatility.append(high_prices[i]-low_prices[i])
    print(valatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [17]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [18]:
#182
stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [23]:
#183
stock={"시가":[100,200,300],"종가":[80,210,330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [25]:
#184
stock={"10/10":[80,110,70,90], "10/11":[210,230,190,200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [26]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart:
    for 집 in 층:
        print(집,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [27]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart[::-1]:
    for 집 in 층:
        print(집,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [28]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart[::-1]:
    for 집 in 층[::-1]:
        print(집,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [31]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart:
    for 집 in 층:
        print(집, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [33]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart:
    for 집 in 층:
        print(집, "호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [34]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart:
    for 집 in 층:
        print(집, "호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [36]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for day in data:
    for price in day:
        print(price+(price*0.014*0.01))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [39]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for day in data:
    for price in day:
        print(price+(price*0.014*0.01))
    print("----")

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [40]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for day in data:
    for price in day:
        result.append(price+(price*0.014*0.01))

print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

194번 모르겠습니당

In [42]:
#194
data = [ [ 2000,  3050,  2050,  1980],[ 7500,  2050,  2050,  1980],[15450, 15050, 15550, 14900] ]

result=[]
for day in data:
    day_price=[]
    for price in day:
        new_price=price+(price*0.014*0.01)
        day_price.append(new_price)
    result.append(day_price)

print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [43]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day_price in ohlc[1:] :
    print(day_price[3])

100
190
310

In [44]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day_price in ohlc[1:] :
    close=day_price[3]
    if close>150:
        print(close)

190
310

In [45]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day_price in ohlc[1:] :
    open=day_price[0]
    close=day_price[3]
    if close >= open :
        print(close)

100
310

In [46]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 변동폭: 고가-저가

변동폭리스트=[]
for day_price in ohlc[1:] :
    high=day_price[1]
    low=day_price[2]
    변동폭=high-low
    변동폭리스트.append(변동폭)

print(변동폭리스트)

[40, 30, 10]

In [53]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 시가<종가 , 하이-로우
for day_price in ohlc[1:] :
    open, high, low, close=day_price
    if open<close :
        print(high-low)

10

In [54]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

수익금 = 0
for day_price in ohlc[1:]:
    수익금 += (day_price[3] - day_price[0])

print(수익금)

0

20240909 과제

# 201-240번 과제

201번 왜 def 써야되는지 모르겠다 밑에 처럼 print만 써도 가능하지 않나용

In [1]:
#201
print("비트코인")

비트코인

In [3]:
def print_coin():
    print("비트코인")

In [5]:
#202
def print_coin():
    print("비트코인")

print_coin()

비트코인

In [6]:
#203
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [8]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")

In [ ]:
#205
함수가 정의되지 않았다.

In [9]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [10]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [11]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [12]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

210번 모르겠다

In [13]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [14]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [15]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
#213
함수를 호출할 때 하나의 파라미터를 입력해야 한다.

In [ ]:
#214
문자열과 숫자는 덧셈이 불가해서 에러가 난다.

In [23]:
#215
def print_with_smile (string) :
    print (string + ":D")

print_with_smile

In [36]:
#216
def print_with_smile ("안녕하세요") :
    print ("안녕하세요"+ ":D")

print_with_smile

SyntaxError: invalid syntax (1087021694.py, line 2)

In [ ]:
#217

In [ ]:
#218
def print_sum(a ,b ):
    print(a+b)

In [39]:
#219
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)
print_arithmetic_operation

220번 모르겠다

In [ ]:
#220
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [40]:
#221
def print_reverse(string) :
    print(string[::-1])
print_reverse

In [ ]:
#222
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

223번 왜 출력이 안되는거지

In [44]:
#223
print_even ([1, 3, 2, 10, 12, 11, 15])

def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

print_even

NameError: name 'print_even' is not defined

In [ ]:
#224
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

def print_keys(dic):
    for keys in dic.keys :
        print(keys)

In [ ]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [ ]:
#226

In [ ]:
#227

In [ ]:
#228

In [ ]:
#229

In [ ]:
#230